body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  background-image: url("bilder/gåte.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

#contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  background-image: url("bilder/room.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;

  /*  border: 1px solid orange;
 */
}

#top p {
  max-height: 25px;
  width: 80%;
  max-width: 700px;
  color: white;
  font-size: 20px;
  background-color: rgba(109, 103, 103, 0.76);
  padding: 10px 30px;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.8s ease;
  cursor: pointer;
}

#top p:hover {
  max-height: 500px;
  transition: transform 4s ease;
}

ul {
  color: rgb(255, 255, 255);
  background-color: rgba(109, 103, 103, 0.76);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 0px;

  height: 25px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
}

ul:hover {
  height: 100%;
  transition: transform 4s ease;
}

.no-dot {
  list-style-type: none;
}

span {
  color: rgb(255, 183, 0);
}

span ul li {
  list-style-type: none;
}

#mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  position: absolute;
  width: 100%;
  bottom: 250px;

  /*    border: 1px solid orange;
 */
}

#gate {
  width: 200px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 10px;
  margin: 10px 0px;
  border: none;
  color: #4e4543;
  background-color: rgba(198, 201, 201, 0.671);
}

#abbas {
  width: 200px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 10px;
  margin: 10px 0px;
  border: none;
  color: #4e4543;
  background-color: rgba(198, 201, 201, 0.671);
}

button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: wheat;
  background-color: #7a7067a2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

button:hover {
  background-color: rgba(100, 80, 54, 0.644);
}

#ned {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  position: absolute;
  width: 100%;
  bottom: 15px;

  /* border: 1px solid orange; */
}
#message {
  display: block;
  flex-direction: column;

  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  #top p,
  ul {
    width: 90%;
    font-size: 16px;
  }

  button,
  #gate,
  #abbas {
    width: 50%;
  }

  #mid {
    margin-top: 10vh;
  }
}
